<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link href="{{ "/assets/images/icon.png" | relative_url}}" rel="icon" type="image/x-icon" />

<style type="text/css">
   {% capture include_to_scssify %}
     {% include style.scss %}
   {% endcapture %}
   {{ include_to_scssify | scssify }}
 </style>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script async type="text/javascript" src="{{ "/assets/anchorific/anchorific.min.js" | relative_url }}">
</script>
