<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link href="{{ "/assets/images/icon.png" | relative_url}}" rel="icon" type="image/x-icon" />
<script>
WebFontConfig = {
  google: {
    families: ['Lobster', 'Roboto', 'Material+Icons']
  }
};
(function(d) {
    var link = document.createElement('link');
    link.rel = "stylesheet";
    link.href = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
    document.querySelector("head").appendChild(link);
  })(document);
</script>

<style type="text/css">
   {% capture include_to_scssify %}
     {% include style.scss %}
   {% endcapture %}
   {{ include_to_scssify | scssify }}
 </style>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script async type="text/javascript" src="{{ "assets/anchorific/anchorific.min.js" | relative_url }}">
</script>
