<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link href="{{ "/assets/images/icon.png" | relative_url}}" rel="icon" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Lobster|Roboto|Material+Icons" rel="stylesheet">
<link href="{{ "/css/main.css" | relative_url }}" rel="stylesheet">
<link href="{{ "/css/highlight.css" | relative_url }}" rel="stylesheet">
<link href="{{ "/css/material.min.css" | relative_url }}" rel="stylesheet">
