<div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop  mdl-shadow--2dp">
  {% assign words = post.content | number_of_words %}
  {% assign tags = post.tags %}
  <div {% if small %} class="mdl-card__title titlebox_small" {% else %} class="mdl-card__title titlebox" {% endif %}  {% if post.color %} style="background-color: {{ post.color }};" {% else %} style="background-color: #333;" {% endif %}>
    <h6 class="mdl-card__title-text">
          <a class="index-titles" href="{{ post.url | relative_url }}"  {% if post.textcolor %} style="color: {{ post.textcolor }};" {% else %} style="color: white;"  {% endif %}>{{ post.title }}</h2></a>
      </div>
      <div class="mdl-card__supporting-text" id="bottomremover">
        <p><strong>{{ post.date | date: '%B %d, %Y' }}</strong>&emsp;•&emsp;{% include readtime.html %}</p>
        <p>{% for tag in tags %}
            <a href="tags/#{{ tag | slugify }}"> {{ tag }} </a>
           {% endfor %}
        </p>
        <p class="excerpt">{{ post.content | strip_html | truncatewords: word_count }}</p>
      </div>
      <div class="mdl-card__actions mdl-card--border" id="topreducer">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | relative_url }}">Read More</a>
      </div>
    </div>
