<script>
    {% include _js/main.js %}
    {% include _js/jquery-3.2.1.min.js %}

    {% capture search_content%}
      {% include _js/tipuesearch_content.js %}
      {% endcapture %}
    {{ search_content | remove: "---" | remove: "layout: null" | remove: "---" }}
    {% include _js/tipuesearch_set.js %}
    {% include _js/tipuesearch.min.js %}

    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'wholeWords' : false,
        'showURL' : false,
      });
    });

</script>
